{%- comment -%} Renders a list of papers. Expects include.papers. {%- endcomment -%}
<ul class="papers">
  {%- for paper in include.papers %}
  <li class="paper">
    <span class="paper-title">{{ paper.title }}</span>
    {%- if paper.authors %}
    <span class="paper-authors">{{ paper.authors | markdownify | remove: '<p>' | remove: '</p>' | strip }}</span>
    {%- endif %}
    <span class="paper-venue">{{ paper.venue }}{% if paper.year %}, {{ paper.year }}{% endif %}</span>
    {%- if paper.links %}
    <span class="paper-links">
      {%- for link in paper.links %}<a href="{{ link[1] }}" target="_blank" rel="noopener">{{ link[0] }}</a>{% endfor -%}
    </span>
    {%- endif %}
  </li>
  {%- endfor %}
</ul>
